div.acordeones{
    margin: 20px 0px 30px 10px;
    width: 300px;
    border: 1px solid var(--gris);
    padding: 20px;
    display: block;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}
.acordeon{
    margin-bottom: 10px;
}

.acordeones--acordeon_negro{
    background-color: var(--negro);
    color: var(--blanco);
}
.acordeon--acordeon_negro{
    border: 1px solid var(--blanco);
    padding: 10px;
}

.acordeones--acordeon_redondeado_negro{
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
}
.acordeon--acordeon_redondeado_negro{
    border: 1px solid var(--blanco);
    padding: 10px;
    border-radius: 25px;
}
.acordeon--acordeon_redondeado_negro:hover{
    background-color: var(--blanco);
    color: var(--negro);
    transition: 0.5s;
    cursor: pointer;
}

.acordeones--acordeon_redondeado_blanco{
    background-color: var(--blanco);
    color: var(--negro);
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
}
.acordeon--acordeon_redondeado_blanco{
    border: 1px solid var(--negro);
    padding: 10px;
    border-radius: 25px;
    transition: 1s;
}
.acordeon--acordeon_redondeado_blanco:hover{
    background-color: var(--blanco);
    color: var(--negro);
    transition: 0.5s;
    cursor: pointer;
}
.acordeon__content--acordeon_redondeado_blanco{
    border-top: 1px solid var(--negro);
    margin-top: 5px;
    padding-top: 5px;
    transition: 3s;
}
.acordeones--acordeon_redondeado_blanco:hover{
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
    transition: 0.5s;
    .acordeon--acordeon_redondeado_blanco{
        border: 1px solid var(--blanco);
        padding: 10px;
        border-radius: 25px;
        transition: 1s;
    }
    .acordeon--acordeon_redondeado_blanco:hover{
        background-color: var(--blanco);
        color: var(--negro);
        transition: 0.5s;
        cursor: pointer;
        margin-left: 40px;
        margin-right: 40px;
        filter: drop-shadow(0px 0px 8px var(--blanco));
    }
}

div.acordeones--acordeon_expandible{
    width: 150px;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 25px;
}
div.acordeones--acordeon_expandible:hover{
    transition: 1.5s;
    width: 300px;
    border-radius: 0;
    .acordeon__title--acordeon_expandible{
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
        border: 1px solid var(--blanco);
        border-radius: 15px;
        padding: 10px;
    }
    .acordeon__title--acordeon_expandible:hover{
        margin-left: 0px;
        margin-right: 0px;
        transition: 1s;
        background-color: var(--blanco);
        color: var(--negro);
        filter: drop-shadow(0px 0px 8px var(--blanco));
    }
}

.linea2{
    margin: 0 400px;
}
.ultimalinea{
    color: var(--blanco);
    margin-top: 100px;
}