div.acordeones{
    margin: 20px 0px 30px 10px;
    width: 300px;
    border: 1px solid var(--gris);
    padding: 20px;
    display: block;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}
.acordeon{
    margin-bottom: 10px;
}

.acordeones--modificacion1{
    background-color: var(--negro);
    color: var(--blanco);
}
.acordeon--modificacion1{
    border: 1px solid var(--blanco);
    padding: 10px;
}

.acordeones--modificacion2{
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
}
.acordeon--modificacion2{
    border: 1px solid var(--blanco);
    padding: 10px;
    border-radius: 25px;
}
.acordeon--modificacion2:hover{
    background-color: var(--blanco);
    color: var(--negro);
    transition: 0.5s;
    cursor: pointer;
}

.acordeones--modificacion3{
    background-color: var(--blanco);
    color: var(--negro);
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
}
.acordeon--modificacion3{
    border: 1px solid var(--negro);
    padding: 10px;
    border-radius: 25px;
    transition: 1s;
}
.acordeon--modificacion3:hover{
    background-color: var(--blanco);
    color: var(--negro);
    transition: 0.5s;
    cursor: pointer;
}
.content--modificacion3{
    border-top: 1px solid var(--negro);
    margin-top: 5px;
    padding-top: 5px;
    transition: 3s;
}
.acordeones--modificacion3:hover{
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
    transition: 0.5s;
    .acordeon--modificacion3{
        border: 1px solid var(--blanco);
        padding: 10px;
        border-radius: 25px;
        transition: 1s;
    }
    .acordeon--modificacion3:hover{
        background-color: var(--blanco);
        color: var(--negro);
        transition: 0.5s;
        cursor: pointer;
        margin-left: 40px;
        margin-right: 40px;
        filter: drop-shadow(0px 0px 8px var(--blanco));
    }
}

div.acordeones--modificacion4{
    width: 150px;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 25px;
}
div.acordeones--modificacion4:hover{
    transition: 1.5s;
    width: 300px;
    border-radius: 0;
    .title--modificacion4{
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
        border: 1px solid var(--blanco);
        border-radius: 15px;
        padding: 10px;
    }
    .title--modificacion4:hover{
        margin-left: 0px;
        margin-right: 0px;
        transition: 1s;
        background-color: var(--blanco);
        color: var(--negro);
        filter: drop-shadow(0px 0px 8px var(--blanco));
    }
}

.linea2{
    margin: 0 400px;
}
.ultimalinea{
    color: var(--blanco);
    margin-top: 100px;
}