div.card{
    display: inline-block;
    width: 250px;
    background-color: var(--fondo);
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 25px;
}

.card__icono{
    padding: 10px 10px 5px 10px;
    color: var(--rosado);
    cursor: pointer;
}
.card__separador{
    border: none;
    height: 1px;
    background-color: var(--rosado);
}
.card__imagen{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.card__titulo{
padding: 0 10px 10px 10px;
color: var(--azul);
font-size: 26px;
}
.card__texto{
padding: 0 10px 10px 10px;
font-size: 16px;
}
.card__boton{
margin: 0 10px 10px 100px;
background-color: var(--boton);
width: 130px;
height: 30px;
text-align: center;
line-height: 30px;
border-radius: 25px;
display: inline-block;
cursor: pointer;
font-weight: bold;
}
.card__boton:hover{
    filter: drop-shadow(0px 0px 5px var(--boton));
}


div.card--card_negra{
    display: inline-block;
    width: 250px;
    background-color: var(--negro);
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 25px;
}
.card__icono--card_negra{
    padding: 10px 10px 5px 10px;
    color: var(--blanco);
    cursor: pointer;
}
.card__separador--card_negra{
    border: none;
    height: 1px;
    background-color: var(--blanco);
}
.card__imagen--card_negra{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
    filter: drop-shadow(0px 0px 3px var(--blanco));
}
.card__titulo--card_negra{
padding: 0 10px 10px 10px;
color: var(--blanco);
font-size: 26px;
}
.card__texto--card_negra{
padding: 0 10px 10px 10px;
font-size: 16px;
color: var(--blanco);
}
.card__boton--card_negra{
margin: 0 10px 10px 100px;
background-color: var(--blanco);
width: 130px;
height: 30px;
text-align: center;
line-height: 30px;
border-radius: 25px;
display: inline-block;
cursor: pointer;
font-weight: bold;
}
.card__boton--card_negra:hover{
    filter: drop-shadow(0px 0px 5px var(--blanco));
}


div.card--card_blanca{
    display: inline-block;
    width: 250px;
    background-color: var(--blanco);
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
}
.card__icono--card_blanca{
    padding: 10px 10px 5px 10px;
    color: var(--negro);
    cursor: pointer;
}
.card__separador--card_blanca{
    border: none;
    height: 1px;
    background-color: var(--negro);
}
.card__imagen--card_blanca{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
    filter: drop-shadow(0px 0px 3px var(--negro));
}
.card__titulo--card_blanca{
padding: 0 10px 10px 10px;
color: var(--negro);
font-size: 26px;
}
.card__texto--card_blanca{
padding: 0 10px 10px 10px;
font-size: 16px;
color: var(--negro);
}
.card__boton--card_blanca{
margin: 0 10px 10px 100px;
background-color: var(--negro);
color: var(--blanco);
width: 130px;
height: 30px;
text-align: center;
line-height: 30px;
border-radius: 25px;
display: inline-block;
cursor: pointer;
font-weight: bold;
}
.card__boton--card_blanca:hover{
    filter: drop-shadow(0px 0px 5px var(--negro));
}


div.card--light_to_dark{
    display: inline-block;
    width: 250px;
    background-color: var(--blanco);
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
}
.card__icono--light_to_dark{
    padding: 10px 10px 5px 10px;
    color: var(--negro);
    cursor: pointer;
}
.card__separador--light_to_dark{
    border: none;
    height: 1px;
    background-color: var(--negro);
}
.card__imagen--light_to_dark{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
    filter: drop-shadow(0px 0px 3px var(--negro));
}
.card__titulo--light_to_dark{
padding: 0 10px 10px 10px;
color: var(--negro);
font-size: 26px;
}
.card__texto--light_to_dark{
padding: 0 10px 10px 10px;
font-size: 16px;
color: var(--negro);
}
.card__boton--light_to_dark{
margin: 0 10px 10px 100px;
background-color: var(--negro);
color: var(--blanco);
width: 130px;
height: 30px;
text-align: center;
line-height: 30px;
border-radius: 25px;
display: inline-block;
cursor: pointer;
font-weight: bold;
}
.card__boton--light_to_dark:hover{
    filter: drop-shadow(0px 0px 5px var(--negro));
}
div.card--light_to_dark:hover{
    transition: 0.s;
    display: inline-block;
    width: 240px;
    background-color: var(--negro);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
    .card__icono--light_to_dark{
        padding: 10px 10px 5px 10px;
        color: var(--blanco);
        cursor: pointer;
    }
    .card__separador--light_to_dark{
        border: none;
        height: 1px;
        background-color: var(--blanco);
    }
    .card__imagen--light_to_dark{
        display: block;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 10px;
        filter: drop-shadow(0px 0px 3px var(--blanco));
    }
    .card__titulo--light_to_dark{
    padding: 0 10px 10px 10px;
    color: var(--blanco);
    font-size: 26px;
    }
    .card__texto--light_to_dark{
    padding: 0 10px 10px 10px;
    font-size: 16px;
    color: var(--blanco);
    }
    .card__boton--light_to_dark{
    background-color: var(--blanco);
    transition: 0.5s;
    margin: 0 100px 10px 10px;
    color: var(--negro);
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    }
    .card__boton--light_to_dark:hover{
        filter: drop-shadow(0px 0px 5px var(--blanco));
    }
}


div.card--dark_to_light{
    display: inline-block;
    width: 250px;
    background-color: var(--negro);
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
}
.card__icono--dark_to_light{
    padding: 10px 10px 5px 10px;
    color: var(--blanco);
    cursor: pointer;
}
.card__separador--dark_to_light{
    border: none;
    height: 1px;
    background-color: var(--blanco);
}
.card__imagen--dark_to_light{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
    filter: drop-shadow(0px 0px 3px var(--blanco));
}
.card__titulo--dark_to_light{
padding: 0 10px 10px 10px;
color: var(--blanco);
font-size: 26px;
}
.card__texto--dark_to_light{
padding: 0 10px 10px 10px;
font-size: 16px;
color: var(--blanco);
}
.card__boton--dark_to_light{
margin: 0 10px 10px 100px;
background-color: var(--blanco);
color: var(--negro);
width: 130px;
height: 30px;
text-align: center;
line-height: 30px;
border-radius: 25px;
display: inline-block;
cursor: pointer;
font-weight: bold;
}
.card__boton--dark_to_light:hover{
    filter: drop-shadow(0px 0px 5px var(--blanco));
}
div.card--dark_to_light:hover{
    transition: 0.s;
    display: inline-block;
    width: 240px;
    background-color: var(--blanco);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 5px var(--negro));
    .card__icono--dark_to_light{
        padding: 10px 10px 5px 10px;
        color: var(--negro);
        cursor: pointer;
    }
    .card__separador--dark_to_light{
        border: none;
        height: 1px;
        background-color: var(--negro);
    }
    .card__imagen--dark_to_light{
        display: block;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 10px;
        filter: drop-shadow(0px 0px 3px var(--negro));
    }
    .card__titulo--dark_to_light{
    padding: 0 10px 10px 10px;
    color: var(--negro);
    font-size: 26px;
    }
    .card__texto--dark_to_light{
    padding: 0 10px 10px 10px;
    font-size: 16px;
    color: var(--negro);
    }
    .card__boton--dark_to_light{
    background-color: var(--negro);
    transition: 0.5s;
    margin: 0 100px 10px 10px;
    color: var(--blanco);
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    }
    .card__boton--dark_to_light:hover{
    filter: drop-shadow(0px 0px 5px var(--negro));
    }
}

div.card{
    width: 240px;
    margin-left: 10px;
    margin-bottom: 30px;
}