ul.grupo{
    display: block;
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-size: 0;
}
.grupo__boton1 ,.grupo__boton2, .grupo__boton3, .grupo__boton4, .grupo__boton5, .grupo__boton6{
    display: inline-block;
    text-decoration: none;
    /* justify-content: center; */
    background-color: var(--azul2);
    padding: 10px 15px;
    color: var(--negro);
    font-size: 16px;
    width: 90px;
    margin: 0;
}
.linea{
    margin: 0 300px
}

.boton1--modificacion1{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.boton6--modificacion1{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.boton2--modificacion1:hover, .boton3--modificacion1:hover, .boton4--modificacion1:hover, .boton5--modificacion1:hover{
    background-color: var(--azul);
}
.boton1--modificacion1:hover{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: var(--azul);
}
.boton6--modificacion1:hover{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--azul);
}

.boton1--modificacion2, .boton2--modificacion2, .boton3--modificacion2, .boton4--modificacion2, .boton5--modificacion2{
    background-color: var(--azul1);
    border-right: 1px solid var(--gris);
}
.boton6--modificacion2{
    background-color: var(--azul1);
}
.boton1--modificacion2:hover, .boton2--modificacion2:hover, .boton3--modificacion2:hover, .boton4--modificacion2:hover, .boton5--modificacion2:hover, .boton6--modificacion2:hover{
    background-color: var(--azul2);
    width: 120px;
    transition: 0.5s;
}

.grupo--modificacion3{
    background-color: var(--gris);
    border-radius: 30px;
    filter: drop-shadow(0px 0px 0px 10px var(--rosado));
}
.boton1--modificacion3, .boton2--modificacion3, .boton3--modificacion3, .boton4--modificacion3, .boton4--modificacion3, .boton5--modificacion3, .boton6--modificacion3{
    background-color: var(--gris);
}
.boton1--modificacion3:hover, .boton2--modificacion3:hover, .boton3--modificacion3:hover, .boton4--modificacion3:hover, .boton4--modificacion3:hover, .boton5--modificacion3:hover, .boton6--modificacion3:hover{
    background-color: var(--rosado);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    transition: 1.5s;
}

.boton1--modificacion4, .boton2--modificacion4, .boton3--modificacion4, .boton4--modificacion4, .boton4--modificacion4, .boton5--modificacion4, .boton6--modificacion4{
    border-radius: 100%;
    width: 40px;
    margin: 2.5px;
    background-color: var(--rosado);
}
.boton1--modificacion4:hover, .boton2--modificacion4:hover, .boton3--modificacion4:hover, .boton4--modificacion4:hover, .boton4--modificacion4:hover, .boton5--modificacion4:hover, .boton6--modificacion4:hover{
    border-radius: 30px;
    width: 100px;
    margin: 0;
    background-color: var(--azul);
    transition: 0.8s;
}