ul.grupo{
    display: block;
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-size: 0;
}
.grupo__boton{
    display: inline-block;
    text-decoration: none;
    /* justify-content: center; */
    background-color: var(--azul2);
    padding: 10px 15px;
    color: var(--negro);
    font-size: 16px;
    width: 90px;
    margin: 0;
}
.linea{
    margin: 0 300px
}

.grupo__boton--grupo_redondeado_celeste:first-of-type{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.grupo__boton--grupo_redondeado_celeste:last-of-type{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.grupo__boton--grupo_redondeado_celeste:not(:first-of-type, :last-of-type):hover{
    background-color: var(--azul);
}
.grupo__boton--grupo_redondeado_celeste:first-of-type:hover{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: var(--azul);
}
.grupo__boton--grupo_redondeado_celeste:last-of-type:hover{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--azul);
}

.grupo__boton--grupo_celeste{
    background-color: var(--azul1);
}
.grupo__boton--grupo_celeste:not(:last-of-type){
  border-right: 1px solid var(--gris);
}

.grupo__boton--grupo_celeste:hover{
    background-color: var(--azul2);
    width: 120px;
    transition: 0.5s;
}

.grupo--grupo_gris{
    background-color: var(--gris);
    border-radius: 30px;
    filter: drop-shadow(0px 0px 0px 10px var(--rosado));
}
.grupo__boton--grupo_gris{
    background-color: var(--gris);
}
.grupo__boton--grupo_gris:hover{
    background-color: var(--rosado);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    transition: 1.5s;
}

.grupo__boton--grupo_circular_naranaja{
    border-radius: 100%;
    width: 40px;
    margin: 2.5px;
    background-color: var(--rosado);
}
.grupo__boton--grupo_circular_naranaja:hover{
    border-radius: 30px;
    width: 100px;
    margin: 0;
    background-color: var(--azul);
    transition: 0.8s;
}