ul.lista{
    width: 240px;
    display: inline-block;
    border: 1px solid var(--gris);
    margin: 20px 0 30px 10px;
    border-radius: 30px;
    list-style-type: none;
    font-weight: bold;
}
.lista__item:not(:last-of-type){
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid var(--gris);
}
.lista__item:last-of-type{
    padding: 10px;
    padding-left: 20px;
}



ul.lista--lista_celeste{
    width: 240px;
    display: inline-block;
    border: 1px solid var(--gris);
    margin: 20px 0 30px 10px;
    border-radius: 30px;
    list-style-type: none;
    background-color: var(--azul1);
}
.lista__item:not(:last-of-type){
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid var(--gris);
}
.lista__item:last-of-type{
    padding: 10px;
    padding-left: 20px;
}
.lista__item--lista_celeste:first-of-type:hover{
    background-color: var(--azul2);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.lista__item--lista_celeste:last-of-type:hover{
    background-color: var(--azul2);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.lista__item--lista_celeste:not(:first-of-type, :last-of-type):hover{
    background-color: var(--azul2);
}



ul.lista--lista_azul{
    width: 240px;
    display: inline-block;
    border: 1px solid var(--gris);
    margin: 20px 0 30px 10px;
    border-radius: 30px;
    list-style-type: none;
    background-color: var(--azul2);
}
.lista__item:not(:last-of-type){
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid var(--gris);
}
.lista__item:last-of-type{
    padding: 10px;
    padding-left: 20px;
}
.lista__item--lista_azul{
  text-align: left;
}
.lista__item--lista_azul:first-of-type:hover{
    background-color: var(--azul3);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    padding-right: 20px;
    transition: 0s;
}
.lista__item--lista_azul:last-of-type:hover{
    background-color: var(--azul3);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    padding-right: 20px;
    transition: 0s;
}
.lista__item--lista_azul:not(:last-of-type):hover{
    background-color: var(--azul3);
    text-align: center;
    padding-right: 20px;
    transition: 0s;
}



ul.lista--to_small{
    width: 240px;
    display: inline-block;
    border: 1px solid var(--gris);
    margin: 20px 0 30px 10px;
    border-radius: 30px;
    list-style-type: none;
    background-color: var(--azul1);
    text-align: center;
}
.lista__item:not(:last-of-type){
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid var(--gris);
}
.lista__item:last-of-type{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
ul.lista--to_small:hover{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: var(--blanco);
    border: none;
    transition: 1s;
}
.lista__item--to_small:hover{
    background-color: var(--azul3);
}
.lista__item--to_small:first-of-type:hover{
    background-color: var(--azul3);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.lista__item--to_small:last-of-type:hover{
    background-color: var(--azul3);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}




ul.lista--to_large{
    width: 240px;
    display: inline-block;
    margin: 20px 0 30px 10px;
    border: none;
    border-radius: 30px;
    list-style-type: none;
    background-color: var(--blanco);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.lista__item:not(:last-of-type){
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid var(--gris);
}
.lista__item:last-of-type{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
ul.lista--to_large:hover{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background-color: var(--blanco);
    transition: 2s;
}
.lista__item--to_large:hover{
    background-color: var(--azul2);
}
.lista__item--to_large:first-of-type:hover{
    background-color: var(--azul2);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.lista__item--to_large:last-of-type:hover{
    background-color: var(--azul2);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
