:root{
    --fondo: #e5f1f1;
    --boton: #7dc9e7;
    --rosado: #EE7155;
    --azul: #002afdb0;
    --negro: #000;
    --blanco: #fff;
    --gris: gray;
    --azul1: #b9ffff;
    --azul2: #2196f3;
    --azul3: #003785;
}